body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  overflow-y: hidden;
}

img {
  image-rendering: pixelated;
}

.overlay {
  filter: blur(5%);
  background-color: rgba(0,0,0,0.75);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pause {
  font-family: "Bubblegum Sans";
  font-size: 3vmin;
  text-align: center;
}

.pause .title {
  font-size: 9vmin;
  margin-bottom: 1vmin;
}

.shop {
  pointer-events: visible;
  position: absolute;
  background: #4e3b30;
  padding: 1vmin 2vmin;
  border-radius: 2vmin;
  box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 39vmin;
  text-align: center;
  padding-bottom: 5vmin;
  border-bottom: solid 0.25em #312620;
}

.shop .title {
  margin-top: 1vmin;
  font-size: 4vmin;
  font-family: "Bubblegum Sans";
  text-shadow: 0 0.5vmin 1vmin rgb(0 0 0 / 25%);
  margin-bottom: 2vmin;
  padding: 1vmin;
  border-top: 1vmin;
  border-bottom: 1vmin;
  border-style: double;
  border-color: rgba(0,0,0,0.25);
  border-radius: 1vmin;
}

.shop .item {
  position: relative;
  font-size: initial;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shop .item__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2vmin;
  padding: 1vmin;

  visibility: hidden;
  opacity: 0;
  transition: visibility 150ms ease-in-out, opacity 150ms ease-in-out;
}


.item__image {
  width: 12vmin;
  height: 12vmin;
  background: rgba(0,0,0,0.25);
  border-radius: 1vmin;
  transition: box-shadow 150ms ease-in-out, border 150ms ease-in-out;
  background-size: contain;
  image-rendering: pixelated;
}

.shop .item:hover .item__image,
.gamepad .shop .item.selected .item__image {
  box-shadow: 0 0.5vmin 1vmin rgb(0 0 0 / 50%);
  border: solid 0.25vmin white;
}

.shop .item__name {
  margin-top: 1vmin;
  font-size: 3vmin;
  font-family: 'Bubblegum Sans', sans-serif;
}

.shop .item:hover .item__name,
.gamepad .shop .item.selected .item__name {
  text-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
  animation: bob 1s ease-in-out infinite;
}

.game {
  position: relative;
}


@keyframes bob {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: none;
  }
}

.dialogue-prompt {
  position: absolute;
  right: 2vmin;
  top: 2vmin;
  font-size: 2.5vmin;
  background: #121212;
  padding: 1.5vmin 2vmin;
  color: white;
  border-radius: 0.5vmin;
  pointer-events: none;
  box-shadow: 0 0.5vmin 2vmin rgba(255, 255, 255, 0.25);
  animation: bob ease-in-out 2s infinite;
}

.dialogue-prompt::before {
    content: 'E';
    font-family: monospace;
    background: rgba(255, 255, 255, 0.25);
    width: 3vmin;
    height: 3vmin;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5vmin;
    border-radius: 0.5vmin;
    box-shadow: inset 0 0 1vmin rgba(0, 0, 0, 0.25);
}

